:root {
    --palette-black: #222831;
    --palette-dark-gray: #31363F;
    --palette-gray: #4b5261;
    --palette-light-blue: #76ABAE;
    --palette-blue: #649092;
    --palette-white: #EEEEEE;

    --background-color: var(--palette-white);
    --primary-calc-color: var(--palette-black);
    --primary-text-color: var(--palette-white);
    --button-num-color: var(--palette-dark-gray);
    --button-num-hover-color: var(--palette-light-blue);
    --button-num-active-color: var(--palette-gray);
    --button-operator-color: var(--palette-light-blue);
    --button-operator-hover-color: var(--palette-dark-gray);
    --button-operator-active-color: var(--palette-blue);
    --button-utility-color: var(--palette-light-blue);
    --button-border: var(--palette-black);
}

* {
    font-family: sans-serif;
    font-size: 5vh;
    color: var(--primary-text-color)
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.calc-container,
.keypad-container,
.keypad-left,
.keypad-right,
.keypad-row {
    display: flex;
}

.calc-container,
.keypad-left,
.keypad-right {
    flex-direction: column;
}

.calc-container {
    flex: 0 1 auto;
    height: 100vh;
    aspect-ratio: 5/6;
    max-width: 100%;
    background-color: var(--primary-calc-color);
    box-sizing: border-box;
    padding: 0.5vh;
}

.display-container {
    flex: 0 1 25%;
    display: flex;
    justify-content: end;
    align-items: end;
    box-sizing: border-box;
    padding: 0.5vh;
}

.display {
    font-size: clamp(16px, 10vw, 9vh);
    overflow-wrap: anywhere;
}

.keypad-row,
.keypad-container {
    flex: auto;
}

.keypad-left {
    flex: 3 1 75%;
}

.keypad-right {
    flex: 1 1 25%;
}

.keypad-row .btn-operator,
.keypad-row .btn-utility,
.keypad-numerical button {
    flex-basis: calc(100% / 3);
}

.btn-num,
.btn-operator,
.btn-utility {
    border: var(--button-border) solid 0.5vh;
}

.btn-num:hover {
    color: var(--button-num-hover-color);
}

.btn-operator:hover,
.btn-utility:hover {
    color: var(--button-operator-hover-color);
}

.btn-num:active {
    background-color: var(--button-num-active-color);
}

.btn-operator:active,
.btn-utility:active {
    background-color: var(--button-operator-active-color);
}

.btn-num {
    background-color: var(--button-num-color);
}

.btn-operator {
    background-color: var(--button-operator-color);
}

.btn-utility {
    background-color: var(--button-utility-color);
}

.keypad-right button {
    flex-basis: 20%;
}

.keypad-right .btn-equal {
    flex-basis: 40%;
}

.btn-num.btn-decimal {
    flex-basis: calc(100% / 3);
}

.btn-num.btn-zero {
    flex-basis: calc(100% * 2 / 3);
}