:root {
    --palette-black: #222831;
    --palette-dark-gray: #31363F;
    --palette-light-blue: #76ABAE;
    --palette-white: #EEEEEE;

    --background-color: var(--palette-white);
    --primary-calc-color: var(--palette-black);
    --primary-text-color: var(--palette-white);
    --button-num-color: var(--palette-dark-gray);
    --button-operator-color: var(--palette-light-blue);
    --button-utility-color: var(--palette-light-blue);
}

* {
    font-family: sans-serif;
    font-size: 5vh;
    color: var(--primary-text-color)
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.calc-container,
.keypad-container,
.keypad-left,
.keypad-right,
.keypad-row {
    display: flex;
}

.calc-container,
.keypad-left,
.keypad-right {
    flex-direction: column;
}

.calc-container {
    flex: 0 1 auto;
    height: 100vh;
    aspect-ratio: 5/6;
    max-width: 100%;
    background-color: var(--primary-calc-color);
}

.display-container {
    flex: 0 1 25%;
    display: flex;
    justify-content: end;
    align-items: end;
}

.display {
    font-size: 5vh;
}

.keypad-row,
.keypad-container {
    flex: auto;
}

.keypad-left {
    flex: 3 1 auto;
}

.keypad-right {
    flex: 1 1 auto;
}

.keypad-right button,
.keypad-row button {
    flex: auto;
}

.btn-num,
.btn-operator,
.btn-utility {
    border-style: none;
}

.btn-num {
    background-color: var(--button-num-color);
}

.btn-operator {
    background-color: var(--button-operator-color);
}

.btn-utility {
    background-color: var(--button-utility-color);
}

.keypad-right button {
    flex-basis: 25%;
}

.keypad-right .btn-equal {
    flex-basis: 50%;
}

.btn-num.btn-decimal {
    flex-basis: calc(100% / 3);
}

.btn-num.btn-zero {
    flex-basis: calc(100% * 2 / 3);
}