* {
    font-family: sans-serif;
}

.calc-container,
.keypad-container,
.keypad-left,
.keypad-right,
.keypad-row {
    display: flex;
}

.calc-container,
.keypad-left,
.keypad-right {
    flex-direction: column;
}