:root {
    --palette-black: #222831;
    --palette-dark-gray: #31363F;
    --palette-light-blue: #76ABAE;
    --palette-white: #EEEEEE;

    --background-color: var(--palette-white);
    --primary-calc-color: var(--palette-black);
    --primary-text-color: var(--palette-white);
}

* {
    font-family: sans-serif;
    color: var(--primary-text-color)
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
}

.calc-container,
.keypad-container,
.keypad-left,
.keypad-right,
.keypad-row {
    display: flex;
}

.calc-container,
.keypad-left,
.keypad-right {
    flex-direction: column;
}

.calc-container {
    flex: 0 1 auto;
    height: 100vh;
    aspect-ratio: 5/6;
    max-width: 100%;
    background-color: var(--primary-calc-color);
}

.display {
    flex: 0 1 25%;
}

.keypad-row,
.keypad-container {
    flex: auto;
}

.keypad-left {
    flex: 3 1 auto;
}

.keypad-right {
    flex: 1 1 auto;
}